@using ProcessAuto.Models
@using ProcessAuto.Models.ViewModels
@using System.Collections

@{
    ViewData["Title"] = "Мои отклики";
}
@*<h1>@ViewData["Title"]</h1>

<p>This page will be avaliable for logged user and will let them edit their resume.</p>*@

<h4>@ViewData["Title"]</h4>

@{
    IEnumerable<VacancyRespondViewModel> responds = ViewData["Responds"] as IEnumerable<VacancyRespondViewModel>; 
}

<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="list-group">

    <div id="modDialog" class="modal fade" >
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

@foreach (VacancyRespondViewModel r in responds)
{

    <h3>Отклик на вакансию в @r.Company. </h3>    
   
    <p class="mb-1">Позиция: @r.Position</p>    
    <p class="mb-1">Cтэк: @r.VacancyStack</p>   
    <p class="mb-1">Количество мест: @r.Slots</p>           

    if (r.RespondStage == VacancyStage.Sent)
    {
        <h4>Current stage: Ожидается реакция HR'а компании</h4>       
    }
    if (r.RespondStage == VacancyStage.InterviewAssigned)
    {
         <h4>Current stage: Назначено собеседование. Текущая дата: @r.InterviewDate.ToString("dd-MM-yyyy")</h4>         
    }
    if (r.RespondStage == VacancyStage.NoOffer)
    {
        <h4>Current stage: Оффера не будет.</h4>
    }
    if (r.RespondStage == VacancyStage.OfferSent)
    {       
        if (r.StudentsVerdict == StudentsVerdict.Awaiting)
        {
            <h4>Current stage: Поздравляем! Вы получили оффер по этому отклику. Вы можете принять либо отклонить его.</h4>

            <div class="btn-group btn-group-justified">
            <a type="button" class="btn btn-outline-success" asp-controller="VacancyResponds" asp-action="AcceptOffer" asp-route-respondId="@r.RespondId" asp-route-vacId="@r.VacancyId">Принять оффер</a>
            <a type="button" class="btn btn-outline-danger" asp-controller="VacancyResponds" asp-action="DeclineOffer" asp-route-respondId="@r.RespondId" asp-route-vacId="@r.VacancyId">Отказаться от оффера</a>
            </div>
        }
        
        if (r.StudentsVerdict == StudentsVerdict.Declined)
        {
            <h4>Current stage: Вы отклонили данный оффер.</h4>
            <div>Offer was DECLINED by student</div> 
        }
        if (r.StudentsVerdict == StudentsVerdict.Accepted) 
        {
            <h4>Current stage: Поздравляем! Вы приняли данный оффер.</h4>
            <div>Offer was ACCEPTED by student</div>
        }
    }

    <hr>

}    