@using ProcessAuto.Models
@model IEnumerable<Student>    
   
    
        <table class="table">

            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>MiddleName</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            @foreach (Student user in Model)
            {
                <tr>
                    <td>@user.Surname</td>
                    <td>@user.Name</td>
                    <td>@user.MiddleName</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                </tr>
            }
        </table>
    

    @using (Html.BeginForm("Index", "StudentsRegistration", FormMethod.Post))
    {
      <input class="btn btn-outline-primary mt-3" type="submit" value="Добавить студентов"/>
    }