@using ProcessAuto.Models
@model IEnumerable<Student>
@{
    Layout = null;}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>
    @using (Html.BeginForm("Register", "StudentsRegistration", FormMethod.Post))
    {
      <input type="submit" value="Register" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>MiddleName</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            @foreach (Student user in Model)
            {
                <tr>
                    <td>@user.Surname</td>
                    <td>@user.Name</td>
                    <td>@user.MiddleName</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                </tr>
            }
        </table>
    }
</body>
</html>