@using ProcessAuto.Models.ViewModels
@using System.Collections
@model ProcessAuto.Models.ViewModels.VacancyViewModel

@{
    ViewData["Title"] = "Vacancy";
}

<h4>@ViewData["Title"]</h4>


@{
    VacancyViewModel vacancy = ViewData["Vacancy"] as VacancyViewModel;
}

<ul class="list-group">
    <a href="/Companies/Details/@vacancy.CompanyId">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Company
         <span class="badge badge-primary badge-pill">@vacancy.Company</span> 
      </li>
    </a>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Position
    <span class="badge badge-primary badge-pill">@vacancy.Position</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Stack
    <span class="badge badge-primary badge-pill">@vacancy.Stack</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Slots
    <span class="badge badge-primary badge-pill">@vacancy.Slots</span>
  </li>
</ul>

@*<button class="btn btn-light" asp-area="" asp-controller="" asp-action="">Respond</button>*@

@*<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to favlurites
</button>*@



<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    @if (User.IsInRole("Admin") == false) {
  <div class="btn-group mr-2" role="group" aria-label="First group">
        @if (ViewData["checkIfAlreadyResponded"].ToString() == "0")
        {
            <a class="btn btn-light" asp-area="" asp-controller="Vacancies" asp-action="RespondOnVacancy" asp-route-vacId="@ViewData["VacancyId"]">Respond</a>
        }
        else
        {            
            <div class="alert alert-warning" role="alert" >Thanks for your respond! We will contact with you soon! </div>
        }
    </div>
    }
    @if (User.IsInRole("Admin")) {
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <a class="btn btn-light" asp-area="" asp-controller="Vacancies" asp-action="ShowVacancyResponds" asp-route-vacId="@ViewData["VacancyId"]">Show Responds</a>
  </div>
    }
    @if (User.IsInRole("Admin")) {
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@ViewBag.Id">Delete</a>
  </div>  
    }
    @if (User.IsInRole("Admin") == false) {
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <div class="btn-group-toggle" data-toggle="buttons">
  @*<label class="btn btn-outline-warning">
    <input type="checkbox" checked autocomplete="off">
    @*<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to favourites*@
  @*</label>*@
</div>
  </div>  
    }
</div>