@using ProcessAuto.Models.ViewModels
@using System.Collections
@model ProcessAuto.Models.ViewModels.VacancyViewModel

@{
    ViewData["Title"] = "Vacancy";
}

<h4>@ViewData["Title"]</h4>


@{
    VacancyViewModel vacancy = ViewData["Vacancy"] as VacancyViewModel;
}

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Company
    <span class="badge badge-primary badge-pill">@vacancy.Company</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Position
    <span class="badge badge-primary badge-pill">@vacancy.Position</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Stack
    <span class="badge badge-primary badge-pill">@vacancy.Stack</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Slots
    <span class="badge badge-primary badge-pill">@vacancy.Slots</span>
  </li>
</ul>

@*<button class="btn btn-light" asp-area="" asp-controller="" asp-action="">Respond</button>*@

@*<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to favlurites
</button>*@



<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button class="btn btn-light" asp-area="" asp-controller="" asp-action="">Respond</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-warning">
    <input type="checkbox" checked autocomplete="off">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add to favourites
  </label>
</div>
  </div>  
</div>