@using ProcessAuto.Models.ViewModels
@using System.Collections

@{
    ViewData["Title"] = "Vacancy Responds";
}
@*<h1>@ViewData["Title"]</h1>

<p>This page will be avaliable for logged user and will let them edit their resume.</p>*@

@*<h4>@ViewData["Title"]</h4>*@

@{
    IEnumerable<StudentViewModel> students = ViewData["Students"] as IEnumerable<StudentViewModel>; 
}

<table class="table">    
    <tbody>
@foreach (var stud in students) {
        <tr>
            <td>
                @stud.Surname @stud.Name @stud.Middlename
            </td>
                      
            <td>
                                
                <a asp-action="ShowStudentsProgress" asp-route-studentId="@stud.Id" >Details</a>                 
                
            </td>           
        </tr>
}
    </tbody>
</table>